body {
  background: #102542;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 60px;
}

.navbar {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(2px);
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-brand i {
  color: #f87060;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #fff;
}

.menu:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-info i {
  color: #f87060;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card i {
  color: #f87060;
}

strong {
  font-size: 0.7rem;
  font-weight: 900;
}

.container {
  padding-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f87060;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#led-indicator {
  color: grey;
}

.chart {
  border-radius: 10px;
}
